.list-contacts-view
{
    padding: 50px;
    
    .create-contact-button
    {
        margin: 25px;
        // background-color: black;
    }
    
    .contact-container
    {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-evenly;
    }
}