.list-employees
{
    padding: 50px;
    
    .add-employee-button
    {
        margin: 25px;        
        // background-color: black;
    }
    
    .container
    {
        display: flex;
        flex-wrap: wrap;              
        // justify-content: space-evenly;
    }
    
}