<!-- <div class="list-contacts-view">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <router-link to="/manageContacts" class="button is-primary create-contact-button">Create Contact</router-link>
        </div>
    </nav>

    <div class="contact-container container notification">
        <contact v-for="contact in contacts" v-bind:key="contact.id" v-bind:value="contact"></contact>
    </div>
</div> -->


<nav class="list-employees panel">
    <p class="panel-heading">
        Employee Management System
    </p>
    <div class="panel-block">
        <p class="control">
            <input class="input is-small" type="text" placeholder="search">
        </p>
    </div>
    <p class="panel-tabs">
        <a class="is-active">all</a>
        <a>employees</a>
        <a>not employees</a>
    </p>

    <a class="panel-block" v-for="employee in employees" v-bind:key="employee.id" v-bind:value="employee" v-on:click.prevent="showEmployee">
        <p>{{employee.firstName}}</p>&nbsp;
        <p>{{employee.lastName}}</p>        
    </a>


    <div class="container is-fluid add-employee-button">
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
                <router-link to="/manageEmployee" class="tile is-child notification is-warning box">Add Employee</router-link>
            </div>
        </div>
    </div>
</nav>