<!-- <nav class="manage-contact-view panel">
    <div class=panel-heading>
        <h1 class="title">
            {{operation}}
        </h1>
    </div>
    <div class="panel-block">
        <form>
            <div class="field">
                <label class="label">Full Name</label>
                <div class="control">
                    <input class="input is-rounded" type="text" v-model="fullName" placeholder="Full Name">
                </div>
            </div>

            <div class="field">
                <label class="label">Phone</label>
                <div class="control">
                    <input class="input is-rounded" v-model="phone" placeholder="Phone">
                </div>
            </div>

            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input is-rounded" v-model="email" placeholder="Email">
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" v-on:click.prevent="save">Save</button>
                </div>
                <div class="control">
                    <router-link class="button is-text" to="/contacts">Cancel</router-link>
                </div>
            </div>
        </form>
    </div>
</nav> -->